.container-cardUsers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 3rem .3rem 1rem .3rem;
}

.inf-usersCard {
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 0 3px #0005;
}
.users-name {
    padding: .8rem;
    text-align: center;
    font-size: 1.5rem;
}

.users-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}

.users-li {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.users-li span {
    font-size: 1rem;
}

.users-footer {
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: end;
    margin: 1rem;
}
.users-footer i{
    font-size: 1.3rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.users-footer i:hover{
    background-color: #0005;
}
