* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button:hover {
    color: #fff;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

.App {
    width: 100%;
    min-height: 100vh;
    background-image: url('../public/header.jpg');
    background-size: 100% 100%;
}

.container-title {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 2rem 3rem;
    align-items: center;
    width: 100%;
}

.title-principal {
    color: #3a0ca3;
    background-color: #fff;
    padding: 1rem;
    border-radius: 50px;
    border: solid #3a0ca3;
}
/* !para el icono de cerrar x */
.close {
    position: absolute;
    right: 6%;
    top: 6%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    cursor: pointer;

}

.close:hover {
    background-color: #fff6;
    border: solid #0002;
    color: white;
}
/*!cambia el color de las tarjetas segun el mes  */
.months01 {
    background-color: #DD5353;
        color: #fff;
}
.months01:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #DD5353;
}

.months02 {
    background-color: #905E96;
        color: #fff;
}
.months02:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #905E96;
}

.months03 {
    background-color: #251B37;
        color: #fff;
}
.months03:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #251B37;
}

.months04 {
    background-color: #FF884B;
        color: #fff;
}
.months04:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #FF884B;
}

.months05 {
    background-color: #829460;
        color: #fff;
}
.months05:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #829460;
}

.months06 {
    background-color: #674747;
        color: #fff;
}
.months06:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #674747;
}

.months07 {
    background-color: #4C0033;
        color: #fff;
}
.months07:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #4C0033;
}

.months08 {
    background-color: #256D85;
        color: #fff;
}
.months08:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #256D85;
}

.months09 {
    background-color: #E38B29;
        color: #fff;
}
.months09:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #E38B29;
}

.months10 {
    background-color: #3a6;
    color: #fff;
}
.months10:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #3a6;
}

.months11 {
    background-color: #FF4A4A;
        color: #fff;
}
.months11:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #FF4A4A;
}

.months12 {
    background-color: #FFB200;
        color: #fff;
}
.months12:hover{
    background-color: #fff9;
    box-shadow: 3px 3px 0 3px #0005;
    color: #FFB200;
}



@media (max-width: 600px) {
    .container-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

}